v.2/library/PneuDuino symlink
v.2/library/PneuDuino/README.md

*.b#*
*.s#*
*.epf
*.zip
*.scr
*.dri
*.GBL
*.GBO
*.GBS
*.gpi
*.GTL
*.GTO
*.GTP
*.GTS
*.TXT
*.dxf

*.epf

*.xlsx

v.2/Pneumatic/bom

*.lck

*.csv

*.html

*.epf

*.epf

.DS_Store

v.2/IO/eagle.epf
